.card {
  min-height: 45rem;
  width: 50rem;
  background-color: rgba(30, 118, 195, 0.7);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;

  h2 {
    color: white;
    font-size: 2.4rem;
    margin-top: 1rem;
  }

  a {
    color: rgb(39, 241, 241);
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.photo {
  width: 90%;
  margin-top: 2rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
